.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}


.table-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
}

.chart-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  max-width: 100%;
  height: 250px;   /* <-- محدود کردن ارتفاع */
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important; /* کانواس خودش اندازه container رو می‌گیره */
}

.card-icon {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 8px;
}

.chart-container {
  width: 100%;
  max-width: 100%;
  height: 350px; /* ارتفاع نمودار */
  margin: 20px auto;
  padding: 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}